# Large datasets
data/

# CSV files
*.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Large model files
*.pkl
*.joblib
*.model

# Environment folders
.env
.venv
venv/