# Large datasets
data/

# CSV files
*.csv

# Jupyter checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Large model files
*.pkl

*.joblib
!models/xgboost_attack_model_13class_balanced.joblib
!models/xgboost_attack_model_13class_features.joblib
!models/xgboost_attack_model_13class_mapping.joblib

*.model

# Environment folders
.env
.venv
venv/